<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body class="container">
    <p>Hello everybody, welcome to my page!</p>
    <p>/hello/name is going to show the message "Hello" written on the page, followed by the parameter "name" that you
        provide.</p>
</body>

</html>